<div>
  <div>
    <h1>
      Join a game
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new seat
    </h2>

    <form action="/insert_seat" method="post">
      <div>
        <label type="hidden" for="user_id_box">
          User
        </label>

        <input type="hidden" value=<%session.fetch(:user_id)%> id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="game_id_box">
          Game
        </label>

        <input type="text" id="game_id_box" name="query_game_id">
      </div>

      <button>
        Create seat
      </button>
    </form>
  </div>
</div>

<hr>
